/* Stan Helsloot, 10762388 */
#about_css {
  background-color: rgb(204,204,204);
  /* outline-color: white;
  outline-style: solid;
  outline-width: 0px; */
  border-style: solid;
  border-color: white;

}
