/* Stan Helsloot, 10762388 */
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(66, 66, 66);
}

#navli {
  float: left;
}

#navli a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navli a:hover {
  background-color: rgb(123,50,148);
  color: white;
}
